<app-navbar></app-navbar>

<div *ngIf="okInsert" class="container mt-3">
  <div class="row">
    <div class="alert alert-success" role="alert">
      Candidato<b> {{ formPessoa.idPessoa }} - {{ formPessoa.nomePessoa }}</b>
      cadastrado com sucesso!
    </div>
  </div>
</div>

<form class="container">
  <div class="row">
    <div class="col">
      <!-- Campo do nome  -->
      <div class="form-group col-12 mt-4">
        <label for="nome">Nome Completo</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          name="nome"
          aria-describedby="Nome Completo"
          placeholder="Nome Completo"
          [(ngModel)]="formPessoa.nomePessoa"
        />
      </div>

      <!-- Campo do E-mail -->
      <div class="form-group col-12 mt-4">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="E-mail"
          placeholder="E-mail"
          [(ngModel)]="formPessoa.emailPessoa"
        />
      </div>

      <!-- Campo do genero  -->
      <div class="form-group col-12 mt-4">
        <label for="genero">Gênero</label>
        <select
          class="form-control"
          name="genero"
          aria-describedby="Gênero"
          [(ngModel)]="formPessoa.generoPessoa"
        >
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
          <option value="N">Não Binário</option>
          <option value="P">Prefiro não informar</option>
        </select>
      </div>

      <!-- Campo do CPF e do RG  -->
      <div class="form-group mt-4 col-12 row">
        <div class="col-6">
          <label for="cpf">CPF</label>
          <input
            type="text"
            class="form-control"
            id="cpf"
            name="cpf"
            aria-describedby="cpf"
            placeholder="CPF"
            [(ngModel)]="formPessoa.cpfPessoa"
            mask="000.000.000-00"
          />
        </div>
        <div class="col-6">
          <label for="rg">RG</label>
          <input
            type="text"
            class="form-control"
            id="rg"
            name="rg"
            aria-describedby="rg"
            placeholder="RG"
            [(ngModel)]="formPessoa.rgPessoa"
            mask="0.000.000"
          />
        </div>
      </div>

      <!-- Campo da Idade e do Numero de Celular  -->
      <div class="form-group mt-4 col-12 row">
        <div class="col-6">
          <label for="dataNasc">Data de Nascimento</label>
          <input
            type="date"
            id="dataNascPessoa"
            name="dataNascPessoa"
            aria-describedby="Data de nascimento"
            [(ngModel)]="formPessoa.dataNascPessoa"
            class="form-control col-md-6"
            max="2030-12-31"
          />
        </div>

        <div class="col-6">
          <label for="celular">Celular</label>
          <input
            type="text"
            class="form-control"
            id="celular"
            name="celular"
            aria-describedby="Celular"
            placeholder="Celular"
            [(ngModel)]="formPessoa.telefonePessoa"
            mask="(00) 0 0000-0000"
          />
        </div>
      </div>

      <!-- Campo do CEP  -->
      <div class="form-group col-12 mt-4 row">
        <div class="col-6">
          <label for="cep">CEP</label>
          <input
            type="text"
            class="form-control"
            name="cep"
            (blur)="getViaCEP($event)"
            aria-describedby="CEP (00000-000)"
            placeholder="CEP"
            [(ngModel)]="formPessoa.enderecoPessoa!.cepPessoa"
            mask="00000-000"
          />
          <a
            class="busca-cep"
            href="https://buscacepinter.correios.com.br/app/endereco/index.php"
            target="_blank"
            >Não sei meu CEP, como saber?</a
          >
        </div>

        <!-- Aqui vai ter uma DIV que vai esconder o cidade também -->
        <div class="col-6" *ngIf="showForm | async">
          <label for="uf">Estado / UF</label>
          <input
            type="text"
            class="form-control"
            name="uf"
            aria-describedby="UF"
            placeholder="Estado"
            [(ngModel)]="formPessoa.enderecoPessoa!.estadoPessoa"
          />
        </div>
      </div>

      <div *ngIf="showForm | async">
        <div class="form-group mt-2 col-12 row">
          <div class="col-9">
            <label for="logradouro">Endereço</label>
            <input
              type="text"
              class="form-control"
              name="logradouro"
              aria-describedby="logradouroEndereco"
              placeholder="Endereço"
              [(ngModel)]="formPessoa.enderecoPessoa!.logradouroPessoa"
            />
          </div>
          <div class="col-3">
            <label for="numero">Número</label>
            <input
              type="text"
              class="form-control"
              name="numero"
              aria-describedby="numero"
              placeholder="Numero"
              [(ngModel)]="formPessoa.enderecoPessoa!.numeroPessoa"
            />
          </div>
        </div>

        <!-- Cidade -->
        <div class="form-group col-12 mt-4">
          <label for="cidade">Cidade</label>
          <input
            type="text"
            class="form-control"
            name="cidade"
            aria-describedby="Cidade"
            placeholder="Cidade"
            [(ngModel)]="formPessoa.enderecoPessoa!.cidadePessoa"
          />
        </div>

        <div class="form-group col-12 mt-4">
          <label for="bairro">Bairro</label>
          <input
            type="text"
            class="form-control"
            name="bairro"
            aria-describedby="Bairro"
            placeholder="Bairro"
            [(ngModel)]="formPessoa.enderecoPessoa!.bairroPessoa"
          />
        </div>

        <div class="form-group col-12 mt-4">
          <label for="curso">Curso</label>
          <select
            name="cursoPessoa"
            class="form-control"
            id="cursoPessoa"
            placeholder="Curso"
            (change)="onChange($event)"
          >
            <option value="0" checked>Selecione...</option>
            <option *ngFor="let cursos of listaCursos$ | async" value="{{ cursos.idCurso }}">
              {{ cursos.idCurso }} - {{ cursos.nomeCurso }} - {{ cursos.descricaoCursoCurso }}
            </option>
          </select>
        </div>

        <app-skills [softSkillsSelecionadas]="this.softSkillsSelecionadas" [hardSkillsSelecionadas]="this.hardSkillsSelecionadas"></app-skills>
      </div>

      <!-- botão  -->

      <div class="col-lg-4 offset-lg-4 text-center mb-4 mt-5">
        <div class="col-sm-10">
          <button
            (click)="addPessoa(formPessoa)"
            type="submit"
            class="btn btn-register mr-3"
          >
            Cadastre-se
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>
