main{
  overflow: hidden;
}

.contato-main{
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.card > b{
margin: 1%;
overflow: hidden;
}


.card{
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem 1.5rem;
  border-radius: 16px;
  margin-left: 10%;
  box-shadow: 0px 0px 20px #3e82e893;
  overflow: hidden;
}

.card > h3{
  color:#3E82E8;
  letter-spacing: 2px;
  margin: 16px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.card > p{
  width: 240px;
  margin-bottom: 16px;
  overflow: hidden;
  text-align: justify;
}

a{
  margin-top: 6%;
  display: block;
  text-decoration: none;
  justify-content: center;
  overflow: hidden;
  width: 55%;
  padding: 14px 0px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: white;
  background-color: #3E82E8;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #659aeb;
}

.card > img{
  width: 50%;
  display: flex;
  align-items: center;
}


//Vai aplicar a mudança apenas no primeiro filho da seção card
section.card:first-child{
  margin-left: 0;
}
