<div class="main-select">

    <div class="left-page">
        <div class="card-select">
            <h1>DevSelect</h1>
            <div class="select-profile">
                <a routerLink="/candidato">Área do Candidato</a>
            </div>
            <div class="select-profile">
                <a routerLink="/home">Área do Recrutador</a>
            </div>
        </div>
    </div>

    <div class="right-page">
        <h1>DevSelect<br></h1>
        <h4>SELECT * FROM devs WHERE tech-lover = true;</h4>
        <img class="img-study" src="/assets/_img/study.svg" class="img-login" alt="hand-coding">
    </div>
</div>
