.main-select{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #9CB1F9, #5D9AF3,#2877EC);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-page{

    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.right-page > h1{
    color: white;
    font-weight: 800;
    margin: 0;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.right-page > h4{
    color: white;
    font-weight: 800;
    margin: 0;
    margin: 20px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}


.img-study{
    width: 50%;
}

.img-login{
    width: 32vw;
}

.left-page{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-select{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-select > h1{
    color: #285EB0;
    font-weight: 800;
    margin: 0;
    margin: 20px;
}

.select-profile{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-profile > a {
    width: 100%;
    margin: 5%;
    background-color: #285EB0;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 0px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 2px;
    box-shadow: 0px 10px 40px -12px #3E82E8;
}

//Responsividade
@media only screen and (max-width: 950px){

    .card-login{
        width: 85%;
    }
}


@media only screen and (max-width: 600px){

    .main-login{
        flex-direction: column;
    }

    .right-page{
        display:none;
    }

    .left-page{
        width: 100%;
        height: auto;
    }

    .card-login{
        width: 90%;
    }
}
