<footer class="test-css">
  <div class="main-footer">
    <div class="col">
      <div class="up-footer">
        <h5><strong>SELECT * FROM devs WHERE tech-lover = true;</strong></h5>
      </div>
    </div>
    <hr />
    <div class="down-footer">
      <div class="row">
        <div class="col">
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/chavesluucas" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>João Gabriel Rudolf</p>
          </div>
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/chavesluucas" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Julia Januario Pereira</p>
          </div>
        </div>
        
        <div class="col">
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/chavesluucas" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Lucas Emanuel Chaves</p>
          </div>
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/chavesluucas" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Paula Adriana da Costa</p>
          </div>
    
        </div>
  
        <div class="col">
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/chavesluucas" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Vinicios Pessoa Tribess</p>
          </div>
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/chavesluucas" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Yuri Koller Borba</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>
