
h4 {
  margin-top: 50px;
}

.container-soft-skills {
  border: 1px solid #8a9198;
  border-radius: 8px;
  padding: 30px;
  max-width: 900px;
  background-color: #d3d2d21e;
}

.btn-skills {
  margin: 10px;
  box-shadow: 2px 2px 6px #8a919885;
}

.btn-selecionada{
    background-color: #3E82E8;
    color: white;
    border: none;
}

.btn-nao-selecionada{
    background-color: white;
    color: gray;
}
